<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Site currently in Maintenance</h1>
    <p>we will be right back</h1>

    {{> footer}}
  </body>
</html>
